################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
bin/
obj/
logs/
Publish/
TestResults/
Update/
Thumbs.db
*.user
/Game.Setup/Release
/Game.Setup/Debug
