<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            WindowLocationX="0"
            WindowLocationY="0"
            WindowHeight="770"
            WindowWidth="930"
            WindowState="2"
            Images="true"
            Sounds="false"
            Music="false"
            AutoStart="false"
            ServerMode="true"
            ServerHost="sol"
            ServerPort="1412">
</Config>
