<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            TitleImage="true"
            Graphics="true"
            SoundEnabled="true"
            MusicEnabled="true"
            AutoStart="false"
            ServerMode="true"
            ServerHost="dev.appnicity.com"
            ServerPort="1412"
            ReceiveBufferSize="2048"
            NetworkReadDelay="0">
</Config>
